params:
  # Default palette color; can be overridden at site and page level
  palette: blue

  # Default color palettes; list can be expanded or overridden in site params
  palette/blue:
    sass:
      accent1: "#00c6ff"
      accent2: "#0072ff"
  palette/green:
    sass:
      accent1: "#12db5d"
      accent2: "#11998e"
  palette/navy:
    sass:
      accent1: "#004e92"
      accent2: "#000428"
  palette/violet:
    sass:
      accent1: "#8e2de2"
      accent2: "#4a00e0"

module:
  hugoVersion:
    extended: true
    minVersion: "0.69.2"

  imports:
    # Import dependencies.  Files in assets/plugins/*.min.js will be concatenated in order by their name
    - path: github.com/dollarshaveclub/reframe.js
      mounts:
      - target: assets/plugins/01-reframe.min.js
        source: dist/reframe.min.js
    - path: github.com/cferdinandi/smooth-scroll
      mounts:
      - target: assets/plugins/02-smooth-scroll.min.js
        source: dist/smooth-scroll.min.js
    - path: github.com/cferdinandi/gumshoe
      mounts:
      - target: assets/plugins/03-gumshoe.min.js
        source: dist/gumshoe.min.js
    - path: github.com/zenorocha/clipboard.js
      mounts:
      - target: assets/plugins/04-clipboard.min.js
        source: dist/clipboard.min.js
