{{ define "content" }}
{{ template "page-head" .}}
{{ $cards := slice -}}
{{ $root_page := .Site.GetPage ( .Params.book | default .Page.Section ) -}}
{{ range $section_name := .Params.chapters -}}
  {{ $section_page := $root_page.GetPage $section_name -}}
  {{ $child_pages := (where ($section_page.Pages) "File.LogicalName" "!=" "_index.md") -}}
  {{ $url := $section_page.RelPermalink -}}
  {{ $cards = append (slice (dict `` `
	` "title"     $section_page.Title `` `
	` "url"       $url `` `
	` "highlight" (gt (len $child_pages) 0) `` `
	` "content"   $section_page.Summary `` `
	` "actions"   (slice (dict "label" "Learn More" "url" $url)) `` `
	`)) $cards -}}
{{ end -}}
{{ partial "block/cards" (slice $ (dict "cards" $cards)) }}
{{with .Params.blocks}}{{ partial "blocks" (slice $ .) }}{{ end -}}
{{ end -}}
