<!doctype html>
<html lang="en">
<head>
{{ partial "html_head.html" . }}
</head>
<body>
<div id="page" class="site">
{{ partial "header.html" . }}
  <main id="content" class="site-content">
    {{ block "content" . }}{{ end }}
  </main><!-- .site-content -->
  {{ partial "footer.html" . }}
</div><!-- .site -->
{{ partial "post_body.html" . }}
</body>
</html>
{{define "page-head"}}
  <header class="page-header bg-gradient outer">
    {{ with .Params.image -}}
    <div class="bg-img" style="background-image: url('{{ . | relURL }}')"></div>
    {{- end }}
    <div class="inner-small">
    {{ block "title-area" . }}
      <h1 class="page-title">{{ .Params.title }}</h1>
      {{ with .Params.subtitle -}}
      <p class="page-subtitle">{{ . }}</p>
      {{- end }}
    {{- end }}
    </div><!-- .inner-small -->
  </header><!--.page-header -->
{{end}}