{{ define "content" }}

  <header class="page-header bg-gradient outer">
    {{ if .Params.img_path -}}
    <div class="bg-img" style="background-image: url('{{ .Params.img_path | relURL }}')"></div>
    {{- end }}
    <div class="inner-small">
      <h1 class="page-title">{{ .Params.title }}</h1>
      {{ if .Params.subtitle -}}
      <p class="page-subtitle">{{ .Params.subtitle }}</p>
      {{- end }}
    </div><!-- .inner-small -->
  </header><!--.page-header -->

  <div class="docs-block outer">
    <div class="inner">
      <div class="block-items">
        {{- $root_page := .Site.GetPage "page" ( .Params.nav_top | default .Page.Section ) -}}
        {{ range $section_name := .Params.nav_pane -}}
          {{ $section_page := $root_page.GetPage $section_name -}}
          {{ $child_pages := (where ($section_page.Pages) "File.LogicalName" "!=" "_index.md") -}}
          {{ $url := $section_page.RelPermalink }}
          {{ with dict `` `
            ` "title"     $section_page.Title `` `
            ` "url"       $url `` `
            ` "highlight" (gt (len $child_pages) 0) `` `
            ` "content"   ($section_page.Summary | safeHTML) `` `
            ` "actions"   (slice (dict "label" "Learn More" "url" $url)) `` `
            ` -}}{{ partial "card" ( slice $ . ) }}
          {{ end }}
        {{- end }}
      </div><!-- .block-items -->
    </div><!-- .inner -->
  </div><!-- .docs-block -->
  {{ partial "blocks" . }}
{{ end -}}
