{{ define "content" }}
  <article class="post post-full">
  {{template "page-head" .}}
    <div class="outer">
      <div class="inner-medium">
        <div class="post-content">
          {{ .Content }}
        </div><!-- .post-content -->
      </div><!-- .inner-medium -->
    </div><!-- .outer-->
  </article><!-- .post -->

  <!-- Next/previous post navigation TBD -->
  <!--
  <div class="outer">
    <div class="inner-medium">
      <nav class="read-next">
        <h2 class="read-next-title line-left">Read Next</h2>
        <div class="nav-links">
          <article class="post">
            <div class="post-meta">
              <time class="published" datetime="">Previous post date</time>
            </div>
            <h3 class="post-title"><a href="#" rel="bookmark">Previous Post Title</a></h3>
          </article>
          <article class="post">
            <div class="post-meta">
              <time class="published" datetime="">Next post date</time>
            </div>
            <h3 class="post-title"><a href="#" rel="bookmark">Next Post Title</a></h3>
          </article>
        </div>
      </nav>
    </div>
  </div>
  -->
{{ end }}
{{ define "title-area" }}
<div class="post-meta">
  <time class="published" datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">{{ .Date | dateFormat "January 02, 2006" }}</time>
</div><!-- .post-meta -->
<h1 class="post-title">{{ .Params.title }}</h1>
{{ with .Params.subtitle }}<div class="post-subtitle">{{ . | safeHTML }}</div><!-- .post-subtitle -->{{ end }}
{{ end }}
