{{ $ = index . 0 }}{{ with index . 1 -}}{{ $highlight := .highlight | default false }}
<section {{with .id}}id="{{ . }}"{{end}} class="block outer cards
  {{- if .stretch }} stretch{{ end -}}
  {{- if or .title .subtitle }} has-header{{ end -}}
">
  <div class="inner">
    <div class="block-inside">
      {{ if or .title .subtitle -}}
      <div class="block-header">
        {{ with .title }}<h2 class="block-title">{{ . }}</h2>{{ end }}
        {{ with .subtitle -}}
        <p class="block-subtitle">{{ . | safeHTML }}</p>
        {{- end }}
      </div><!-- .block-header -->
      {{- end -}}
      {{ with .cards -}}
      <div class="card-items">
      {{- range . }}
        {{ $settings := dict "highlight" (.highlight | default $highlight) -}}
        {{ partial "card" (slice $ (merge . $settings)) -}}
      {{- end }}
      </div><!-- .card-items -->
      {{ end }}
    </div><!-- .card-inside -->
  </div><!-- .inner -->
</section><!-- .block.cards.stretch.outer -->
{{- end }}