<footer id="colophon" class="site-footer outer">
  <div class="inner">
    <div class="site-footer-inside">
      <p class="site-info">
        {{ .Param "footer-text" | .RenderString }}
        {{- range .Param "footer-links" }} &nbsp;
        <a href="{{.url}}" {{- if .new_window }} target="_blank" rel="noopener" {{- end }}>{{ .text }}</a>.
        {{- end }}
      </p><!-- .site-info -->
      {{ if .Param "footer-social" }}{{ partial "social" (.Param "footer-social") }}{{ end }}
    </div><!-- .site-footer-inside -->
  </div><!-- .inner -->
</footer><!-- .site-footer -->
